<h1 mat-dialog-title>{{title}}</h1>

<div mat-dialog-content>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm.value)" class="form">

    <mat-form-field class="form-element">
      <input matInput placeholder="First name" formControlName="firstName">
      <mat-error *ngIf="!userForm.controls['firstName'].valid && userForm.controls['firstName'].touched">
        {{errorMessage}}
      </mat-error>
    </mat-form-field>
  
    <mat-form-field class="form-element">
      <input matInput placeholder="Last Name" formControlName="lastName">
      <mat-error *ngIf="!userForm.controls['lastName'].valid && userForm.controls['lastName'].touched">
        {{errorMessage}}
      </mat-error>
    </mat-form-field>
  
    <mat-form-field class="form-element">
      <input matInput placeholder="Email" formControlName="email">
      <mat-error *ngIf="!userForm.controls['email'].valid && userForm.controls['email'].touched">
        {{getEmailError()}}
      </mat-error>
    </mat-form-field>
  
    <mat-form-field class="form-element">
      <mat-label>Choose a job</mat-label>
      <mat-select formControlName="job">
        <div *ngFor="let job of jobs">
          <mat-option value="job">{{job}}</mat-option>
        </div>
      </mat-select>
    </mat-form-field>
  
    <div mat-dialog-actions>
      <button mat-button type="button" (click)="onCancel()">Cancel</button>
      <button *ngIf= "data.newUser" 
              [disabled]="userForm.invalid" 
              mat-raised-button color="primary" 
              type="submit" 
              class="button">Create
      </button>
      <button *ngIf= "!data.newUser" 
              [disabled]="userForm.invalid" 
              mat-raised-button color="primary" 
              type="submit" 
              class="button">Update
      </button>
    </div>
  
  </form>  
</div>

