<div lass="mat-elevation-z8">

  <!-- search bar -->
  <div class="container">
    <div class="row">
      <div class="col-md-11">
        <mat-form-field>
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Search by id" #input>
        </mat-form-field>
      </div>
      <div class="col-md-1">
        <button mat-mini-fab color="basic" class="add-button" (click)="createOpenDialog()">
          <fa-icon [icon]="addIcon"></fa-icon>
        </button> 
      </div>
    </div>
   
  </div>


  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
    <!-- Id Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <!-- FirstName Column -->

    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef> First name </th>
      <td mat-cell *matCellDef="let element"> 
        <a [routerLink]="['/user', element.id]">
          {{element.first_name}}
        </a>
       </td>
    </ng-container>
  
    <!-- Lastname Column -->
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef> Last name </th>
      <td mat-cell *matCellDef="let element"> {{element.last_name}} </td>
    </ng-container>
  
    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email</th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>
    
    <!-- Actions Column-->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element"> 
        <button mat-mini-fab color="primary" (click)="editOpenDialog(element)">
          <fa-icon [icon]="editIcon"></fa-icon>
        </button> 
        <button mat-mini-fab color="warn" (click)="getRecord(element.name)" class="left-button">
          <fa-icon [icon]="deleteIcon"></fa-icon>
        </button> 
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [length]="totalRecords" 
                 [pageIndex]="pageIndex"
                 [pageSize]="pageSize"
                 (page)="onPageChange($event)">
  </mat-paginator>
</div>


  