table {
    width: 100%;
}
  
.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.table-container {
    position: relative;
    min-height: 200px;
}

.left-button {
    margin-left: 10px;
}

.add-button {
    text-align: center;
    bottom: -5px;
}